#foto {
	width: 50%;
}
h1 {
	color: #FF5500;
	font-family: impact;
}
#uitlogknop {
	width: 100%;
	background-color: #FF5500;
}
#Dag {
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	width: 20%;
	transition: all 0.5s;
	cursor: pointer;
}
#header {
	background-color: #000088;
}
#info {
	border: 5px solid #000088;
	margin: none;
	padding: 5px;
	background-color: #FF5500;
}
#knop {
	width: 33.33%;
	background-color: #FF5500;
}
p {
	font-family: arial;
	font-size: 15px;
	
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-button {
  background-color: #FF5500;
  color: white;
  padding: 14px 20px;
  margin: 8px #000088;
  border: none;
  cursor: pointer;
  width: 100%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
  padding: 16px;
}
#tabel {
	background-color: #000033;
}
